body {
   background-color: #0000
  ;
}

div {

}

.logoContainer {
  max-width: 920px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
  overflow: hidden;
}

.logo {
  font: Verdana;
  width: 1000px;
  font-size: 7.0rem;
  font-weight: bold;
  color: black;
  float: none;

}

.slogan {
  width: 1000px;
  float: left;
  color: #a37b71;
  margin-top: 5px;
  font-style: oblique;
  font-size: 3.0rem;
}

.nav {
margin-top: 20px;
width: 1000px;
margin-left: auto;
margin-right: auto;
background-color: white;


}


.nav ol{
padding: 10px;
padding-top: 10px;
font-size: 1.7rem;
font-style: normal;
color: #a37b71;
}


.nav li {
  display: block;
  float: left;
  color: black;
  padding: 0 15px;
}



.href {
  margin-top: 5px;
}

.insta.jpg {
float: left;
width: 500px;
height: 400px;
}


.frontrightgif {
width: 5000px;
height: auto;


}



